__pycache__/

data/

static/stock_graphs

user_portfolio_graphs/

# We'll figure out a way to not have this track changes on the github without breaking the app
# user_portfolios/ 

static/temp_graphs/

static/temp_graphs_weekly

.env

