body {
    background-color: #D6EFD8;
}
nav img {
    width: 120px;
    height: 120px;
}

.authModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #80AF81;
}

.authModal h1 {
    padding-bottom: 40px;
}

.welcome {
    text-align: center;
    margin-top: 5%;
}

.current-portfolio {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #FFFDD0;
    border-radius: 20px;
}

.current-portfolio h1, h2 {
    padding-top: 10px;
    text-align: center;
}

.line {
    border: none;
    border-top: 3px solid #333; /* Darker line color */
    width: 80%;
}

.stock-allocs {
    margin-left: 10%;
}

.line-container {
    display: flex;
    justify-content: center;  
    align-items: right;      
}

.vertical-line {
    border-right: 2px solid black;
    margin-top: 70%;
    height: 80%;
}

.stock-stats {
    margin-top: 30px;
    text-align: center;
}

.checkStats {
    margin-top: 30px;
    justify-content: center;
}

.update-port-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.updateRow {
    align-items: center;
}

.updateRow label {
    margin-right: 5px;
}

.updateRow .form-control {
    margin-left: 0;
    padding: 5px;
}

.stock-information {
    padding-top: 30px;
    text-align: start;
}

.tips {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.stat-style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.league-section {
    margin-top: 50px;
}

.leaders {
    align-items: center;
}