<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hello There</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Global CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script>
            function toLeague() {
                window.location.href = 'league';
            }
            function toDashboard() {
                window.location.href = 'dashboard';
            }
            function toWelcome() {
                window.location.href = 'logout';
            }
        </script>

    </head>
    <body>
        <nav class="navbar" style="background-color: #D6EFD8; border-bottom: 2px solid black;">
            <a class="navbar-brand h1" style="color: black">Market Melee</a>
            <div class="ml-auto d-flex align-items-center justify-content-end">
                <img src="{{ url_for('static', filename='images/crown.png') }}" alt="Crown" class="img-fluid" style="margin-left: 200px;">
            </div>
            <div class="ml-auto">
                <button class="btn btn secondary mr-2" onclick="{toDashboard()}">Dashboard</button>
                <button class="btn btn secondary mr-2" onclick="{toLeague()}">League Page</button>
                <button class="btn btn secondary" onclick="{toWelcome()}">Logout</button>
            </div>
        </nav>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- jQuery (required for Bootstrap 4) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <!-- Popper.js (required for Bootstrap's JavaScript plugins) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <!-- Bootstrap 4.5.2 JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>