{% extends "base.html" %}

{% block content %}
    <div class="container-fluid dashboard">
        <div class="row flex-nowrap">
            <!--First Column-->
            <div class="col-md-3 current-portfolio">
                <h1>Welcome Back, {{ user['user'] }}!</h1>
                <h2>Current Portfolio</h2>
                <hr class="line">
                <div class="row stock-allocs">
                    <div class="col-md-6">
                        <h4>Stocks: </h4>
                        {% for stock in user['collection_of_stocks'] %}
                            <p>{{ stock }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h4>Allocations: </h4>
                        {% for alloc in user['allocations'] %}
                            <p>{{ alloc }}%</p>
                        {% endfor %}
                    </div>
                </div>
                <hr class="line">
                <div class="d-flex justify-content-center mt-2 mb-4">
                    <button class="btn btn-secondary btn-lg w-50" onclick="{editPortfolio()}">Update Portfolio</button>
                </div>
            </div>
            <!-- Second Column (Vertical Line)-->
            <div class="col-md-1 line-container">
                <div class="vertical-line"></div>
            </div>

            <!-- Third Column -->
            <div class="col-md-8 stock-stats">
                <h1>Stock Stats</h1>
                <h5>Select a Stock to Learn More!</h5>
                <form action="" method="post">
                    <div class="form-group row align-items-center checkStats">
                    
                        <label class="col-auto col-form-label"for="symbolInput">Symbol</label>
                        <div class="col-auto">
                            <input type="text" class="form-control" list="symbolList" 
                                id="symbolInput" name="symbol" placeholder="Enter a Symbol:">
                                <datalist id="symbolList">
                                    {% for symbol in sp500_symbols %}
                                        <option value="{{ symbol }}"></option>
                                    {% endfor %}
                                </datalist>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-secondary ms-3s">Check Stats</button>
                        </div>
                    </div>
                </form>
                {% if valid_stock %}
                <div class="row">
                    <div class="col-md-3 stat-style" style="text-align: left;">
                        <div>
                            <p><strong>Cumulative Return:</strong> {{ stock_stats['Cumulative Return'] }}</p>
                            <p><strong>Avg. Daily Return:</strong> {{ stock_stats['Avg. Daily Return'] }}</p>
                            <p><strong>Volatility (Std):</strong> {{ stock_stats['Volatility'] }}</p>
                            <p><strong>Sharpe Ratio:</strong> {{ stock_stats['Sharpe Ratio'] }}</p>
                            <p><strong>Sortino Ratio:</strong> {{ stock_stats['Sortino Ratio'] }}</p>
                        </div>
                        <div class="tips">
                            <p class="fs-2"><strong>Want to learn what these mean?</strong></p>
                            <p class="fs-2"><strong> Click on the stats for more!</strong></p>
                        </div>
                    </div>
                    <div class="col-md-9 graph-information">
                        {% if stock_image %}
                            <img src="{{ url_for('static', filename=stock_image) }}" alt="Stock Graph" class="img-fluid" style="padding-right: 20px;">
                        {% else %}
                            <p>Graph not available.</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <script>
                function editPortfolio() {
                    window.location.href = 'update_portfolio';
                }
            </script>
        </div>
    </div>
{% endblock %}