{% extends "base.html" %}

{% block content %}
    <div style="text-align: center;">
        <h1>Portfolios of the Week: </h1>
        <div class="row league-section">
            <div class="col-md-3 leaders">
                <h3 class="ml-3 mt-1">Leaders: </h3>
            </div>
            <div class="col-md-9">
                <img src="{{ url_for('static', filename=portfolio_image_path) }}" alt="{{ username }}'s Portfolio Graph" style="float: right; margin-right: 20px; width: 70%">
            </div>
    </div>
    </div>
    <hr class="line">
    <div style="text-align: center;">
        <h1>Best Historical Return Potfolios: </h1>
        <div class="row league-section">
            <div class="col-md-3 leaders">
                <h3 class="ml-3 mt-1">Leaders: </h3>
    
            </div>
            <div class="col-md-9">
                <img src="{{ url_for('static', filename=portfolio_image_path) }}" alt="{{ username }}'s Portfolio Graph" style="float: right; margin-right: 20px; width: 70%">
            </div>
        </div>
    </div>
    <hr class="line">
    <div style="text-align: center">
        <h1>User's Portfolio vs. Market </h1>
        <div class="row league-section">
            <div class="col-md-3 leaders">
                <h3 class="ml-3 mt-1">Leaders: </h3>
            </div>
            <div class="col-md-9">
                <img src="{{ url_for('static', filename=portfolio_image_path) }}" alt="{{ username }}'s Portfolio Graph" style="float: right; margin-right: 20px; width: 70%">
            </div>
        </div>
    </div>

    <!-- Other HTML content can go here -->
{% endblock %}
