{% extends "base.html" %}

{% block content %}
<div class="container authModal">
    <h1>Register</h1>
    <form action="" method="post">
        <div class="mb-3">
            <label class="form-label">Username:</label>
            <input class="form-control"type="text" name="username" required><br>
        </div>
        <div class="mb-3">
            <label class="form label">Password:</label>
            <input class="form-control" type="password" name="password" required><br>
        </div>
        <input class="btn btn-primary" type="submit" value="Register" style="text-align: center;">
    </form>
</div>
{% endblock %}